form automation.json
{
  "name": "form automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-submit",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -32
      ],
      "id": "99d77470-68ff-4f31-acf7-179f0440d6b7",
      "name": "Webhook",
      "webhookId": "738bea41-63dc-4266-bf3b-6aa4cddf2f39"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bMotcwaPxpRE-THDV_l102RAjMMSgDiq8mCExBAJkOA",
          "mode": "list",
          "cachedResultName": "form submit data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bMotcwaPxpRE-THDV_l102RAjMMSgDiq8mCExBAJkOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bMotcwaPxpRE-THDV_l102RAjMMSgDiq8mCExBAJkOA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.body.firstName }}",
            "Last Name": "={{ $json.body.lastName }}",
            "email": "={{ $json.body.email }}",
            "phone number": "={{ $json.body.phone }}",
            "address": "={{ $json.body.address }}",
            "service": "={{ $json.body.services[0] }}",
            "property size": "={{ $json.body.propertySize[0] }}",
            "hourly service": "={{ $json.body.hourlyService[0] }}",
            "date ": "={{ $json.body.date }}",
            "time": "={{ $json.body.time }}",
            "message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property size",
              "displayName": "property size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hourly service",
              "displayName": "hourly service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date ",
              "displayName": "date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -32
      ],
      "id": "bf5b7b69-a1dc-4952-bdc2-2320e82609cd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w4ZGswTFxaevTZiv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_ec2d73528314d5a13fb80a13cd6e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+16592445904\",\n  \"to_number\": \"{{ $json['phone number'] }}\",\n  \"call_type\": \"phone_call\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json['First Name'] }}\"\n  },\n  \"override_agent_id\": \"agent_fc17b12a8ae885b9e8e2e3cd6e\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -32
      ],
      "id": "087d2158-9ccc-4c24-9d31-51333e8d7b12",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7b6d1f1b-796f-44b4-a97a-1c61266152c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078a96f19bcb68c0c02231df326b57e32ec696b6347800c8373a3446e3684b85"
  },
  "id": "a17c17dvAaxfFhKF",
  "tags": []
}