Google Calendar AI Agent Demo.json
{
  "name": "Google Calendar AI Agent Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0399368-6d2f-43fb-962d-165e0bdb754f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f1ad1481-0f56-4950-a923-1e8894d554db",
      "name": "Webhook",
      "webhookId": "b0399368-6d2f-43fb-962d-165e0bdb754f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are an AI Scheduling Assistant with access to Google Calendar. Your job is to book, reschedule, or cancel appointments according to the instructions and variables provided.\n\n# Tools Available\n- Book Appointment: Book a new appointment\n- Get appointment: Retrieve an appointment (find by time)\n- Update appointment: Reschedule an appointment (find by time, update to new time)\n- Cancel appointment: Cancel an appointment (find by time, cancel)\n- Check Availability: Check availability in given time frame\n\n# Variables Provided\n- action: \"booking\", \"reschedule\", \"check availability\", or \"cancel\"\n\n- booking_time: The time for booking, cancellation, or the original time to be rescheduled (format: ISO 8601 or standard calendar time)\n\n- reschedule_time: The new time to reschedule to (only present if action = \"reschedule\")\n\n- availability_time: The time or time range to check for availability (only present if action = \"check availability\")\n\n- google sheet: you have the google sheet for append the data after completing using the above tools\n\n# Context\nThe lead's request:\n- Action: {{ $json.body.args.action }}\n- Booking Time: {{ $json.body.args.booking_time }}\n- Reschedule Time: {{ $json.body.args.reschedule_time }}\n- Availability: {{ $json.body.args.availability_time }}\n\nLead Details:\n- Name: {{ $json.body.args.name }}\n- Email: {{ $json.body.args.email }}\n- Phone Number: {{ $json.body.args.phone }}\n\n# Instructions\n\n1. **If `action` is \"check availability\":**\n   - Use `Check Availability` for the provided `availability_time`.\n   - Report clearly whether the slot or range is available or not. If they asked what times are available, provide two time ranges at different parts of the day, closest times possible. Eg, Monday between 10am and 1pm or Tuesday between 1pm and 4pm.\n\n2. **If `action` is \"booking\":**\n   - Use `Check Availability` for the requested `booking_time`.\n   - If available, use `Book Appointment` to book an appointment at `booking_time`.\n   - If not available, report: \"The requested time is not available. Please choose another time.\"\n\n3. **If `action` is \"cancel\":**\n   - Use `Get Appointment` to find the appointment at `booking_time`.\n   - If found, use `Cancel Appointment` to cancel that appointment.\n   - If not found, report: \"No appointment found at the specified time to cancel.\"\n\n4. **If `action` is \"reschedule\":**\n   - Use `Get Appointment` to find the appointment at `booking_time`.\n   - If found, use `Check Availability` for the desired `reschedule_time`.\n   - If the new time is available, use `Update Appointment` to move the appointment to `reschedule_time`.\n   - If not available, report: \"The requested reschedule time is not available. Please choose another time.\"\n   - If original appointment not found, report: \"No appointment found at the specified time to reschedule.\"\n\n# Output\nAlways confirm the result of your action:\n- For bookings: \"Appointment successfully booked at [time].\"\n- For cancellations: \"Appointment at [time] cancelled.\"\n- For rescheduling: \"Appointment rescheduled from [booking_time] to [reschedule_time].\"\n- For errors: \"No appointment found at [booking_time] to [action].\"\n- For availability: \"The time slot at [availability_time] is available.\" or \"The time slot at [availability_time] is not available.\"\n\n# Example Inputs & Expected Flows\n\n## Check Availability Example\n- action: \"check availability\"\n- availability_time: \"2025-05-23T10:00:00\"\n→ Check if 10:00 AM is free, report result.\n\n## Book Example\n- action: \"booking\"\n- booking_time: \"2025-05-23T10:00:00\"\n→ Check availability, if available, book at 10:00 AM, confirm.\n\n## Cancel Example\n- action: \"cancel\"\n- booking_time: \"2025-05-23T10:00:00\"\n→ Find appointment at 10:00 AM, cancel if found, confirm.\n\n## Reschedule Example\n- action: \"reschedule\"\n- booking_time: \"2025-05-23T10:00:00\"\n- reschedule_time: \"2025-05-23T11:30:00\" (if not provided, default check within next 3 days)\n→ Find appointment at 10:00 AM, check availability at 11:30 AM, if free, move to 11:30 AM, confirm.\n\n\n# Tone\nKeep instructions, confirmations, and error messages clear and direct.\n\n# Notes\n- All timezones provided are Asia/Karachi timezone unless otherwise stated.\n- All bookings are 30 minutes unless otherwise stated\n- When checking availability, only check for times within the next 3 days or this week, unless otherwise stated.\n- Always check availability before booking or rescheduling.\n- Never modify or cancel an appointment unless you are sure you have identified the correct event.\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "b5e70308-8504-42cc-8511-c4dc3df5c579",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        224
      ],
      "id": "6b0c4a34-3e8e-4154-be08-9b9cd557af2a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MfyZqGPKkwIsuuDe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "arslanwebguy@gmail.com",
          "mode": "list",
          "cachedResultName": "arslanwebguy@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        656,
        208
      ],
      "id": "b3da600b-393b-4cec-8bc1-8a97ca2b2b13",
      "name": "Book Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2XXbeJ86W32YO8UB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "arslanwebguy@gmail.com",
          "mode": "list",
          "cachedResultName": "arslanwebguy@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "8a18660e-6871-4b04-b5f6-8e72196ed77b",
      "name": "Get Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2XXbeJ86W32YO8UB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "arslanwebguy@gmail.com",
          "mode": "list",
          "cachedResultName": "arslanwebguy@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        192,
        224
      ],
      "id": "5f2225b4-37e4-41ca-ab3d-e2100ccf1c03",
      "name": "Cancel Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2XXbeJ86W32YO8UB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "arslanwebguy@gmail.com",
          "mode": "list",
          "cachedResultName": "arslanwebguy@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        64,
        224
      ],
      "id": "cfa0a45f-630f-4414-b734-cbf183f48363",
      "name": "Update Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2XXbeJ86W32YO8UB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        848,
        0
      ],
      "id": "f88635de-622b-4a20-a10b-912ce154502c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "arslanwebguy@gmail.com",
          "mode": "list",
          "cachedResultName": "arslanwebguy@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        784,
        192
      ],
      "id": "ec30eac9-1af4-41eb-b9bc-2cbed21c86a7",
      "name": "Check Availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2XXbeJ86W32YO8UB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Z1wSWyYJ5X3FUEGxL9amZxhDtyh8yWP_b3xOSb1aCL8",
          "mode": "list",
          "cachedResultName": "dental_clinic_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1wSWyYJ5X3FUEGxL9amZxhDtyh8yWP_b3xOSb1aCL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1wSWyYJ5X3FUEGxL9amZxhDtyh8yWP_b3xOSb1aCL8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.args.name }}",
            "email": "={{ $json.body.args.email }}",
            "booking_time": "={{ $json.body.args.booking_time }}",
            "timezone": "={{ $json.body.args.timezone }}",
            "Action ": "={{ $json.body.args.action }}",
            "phone number": "={{ $json.body.args.phone }}",
            "call transcript": "={{ $json.body.call.transcript }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "booking_time",
              "displayName": "booking_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reschedule_time",
              "displayName": "reschedule_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "availability_time",
              "displayName": "availability_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Action ",
              "displayName": "Action ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "call transcript",
              "displayName": "call transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        240
      ],
      "id": "314e4376-f2a9-4e81-82c0-c148a08159eb",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w4ZGswTFxaevTZiv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f2318e6f-d757-48ba-b146-3a5299521565",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        432
      ],
      "id": "bce88d1e-1a17-4bea-a71f-c63d09d98479",
      "name": "Webhook1",
      "webhookId": "f2318e6f-d757-48ba-b146-3a5299521565"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Z1wSWyYJ5X3FUEGxL9amZxhDtyh8yWP_b3xOSb1aCL8",
          "mode": "list",
          "cachedResultName": "dental_clinic_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1wSWyYJ5X3FUEGxL9amZxhDtyh8yWP_b3xOSb1aCL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1wSWyYJ5X3FUEGxL9amZxhDtyh8yWP_b3xOSb1aCL8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone number": "={{ $json.body.args.phone }}",
            "name": "{{ $json.body.args.name }}",
            "email": "={{ $json.body.args.email }}",
            "booking_time": "={{ $json.body.args.booking_time }}",
            "timezone": "={{ $json.body.args.timezone }}",
            "reschedule_time": "={{ $json.body.args.reschedule_time }}",
            "Action ": "={{ $json.body.args.action }}",
            "call transcript": "={{ $json.body.call.transcript }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_time",
              "displayName": "booking_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reschedule_time",
              "displayName": "reschedule_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "availability_time",
              "displayName": "availability_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Action ",
              "displayName": "Action ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call transcript",
              "displayName": "call transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        432
      ],
      "id": "73415594-34ec-4526-b67c-1519792f180b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w4ZGswTFxaevTZiv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Appointment Confirmation Lumina Dental Clinic",
        "message": "=Dear {{ $json.name }},\n\nWe are pleased to confirm your upcoming dental appointment with at [Clinic Name].\n\nAppointment Details:\n\npatient name : {{ $json.name }}\n\npatient phone number: {{ $json['phone number'] }}\n\nAppointment dae and time: {{ $json.booking_time }}\n\nLocation: [Full Address of Clinic]\n\nArrival Instructions: Please plan to arrive 15 minutes prior to your scheduled appointment time. This allows us to update your records and ensure you are seated on time.\n\nYour appointment at Lumina Dental Clinic is confirmed  at date and time {{ $json.booking_time }}.\n\nPlease arrive 15 minutes early to check in. Remember to bring your insurance card and ID.\n\nLocation: [Link to Google Maps or Address] Phone: [Phone Number]\n\nSee you then!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        432
      ],
      "id": "6302402f-ee21-419a-be43-f457852007a8",
      "name": "Send a message",
      "webhookId": "ceffaaf2-c704-483a-bd87-cd2d4e1f87e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "9dHAhx4CODBd7nS0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "my-automations.online",
            "x-real-ip": "100.20.5.228",
            "x-forwarded-for": "100.20.5.228",
            "x-forwarded-proto": "https",
            "content-length": "24852",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-retell-signature": "v=1764349812465,d=3fd2ff45e487eb11e8052081e77bc25534947cfc2b457100294abf949b5d5b78",
            "user-agent": "axios/1.13.2",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "call": {
              "call_id": "call_52ebb159167d72092ae61b449eb",
              "call_type": "web_call",
              "agent_id": "agent_95d3303db74b8250f224b860d1",
              "agent_version": 0,
              "agent_name": "dentist",
              "call_status": "ongoing",
              "start_timestamp": 1764349739027,
              "transcript": "Agent: Hello! Thank you for calling Lumina Dental Clinic. This is Pearl speaking. How can I assist you today?\nUser: I wanna book my appointment\nUser: name is David Warner.\nUser: And I wanna book my appointment on the third first December first December four PM.\nAgent: Thank you, David Warner. Just to confirm, your full name is David Warner, correct?\nUser: Correct.\nAgent: Thank you for confirming your name, David. May I please have your phone number to proceed with booking your appointment for December 1st at 4 PM?\nUser: Yeah. Zero three two three four one nine one. Double zero eight. And my email is f I b e r one eight nine zero at Gmail dot com.\nAgent: Thank you for providing your phone number. Let me read that back to make sure I got it: 032...341...91008. \nUser: Correct. \nAgent: Is that correct?\nUser: Correct.\nAgent: Thank you for confirming your phone number. Now, for your email, could you please confirm it letter by letter? I have: f, i, b, e, r, 1, 8, 9, 0, @, g, m, a, i, l, ., c, \nUser: Correct.\nUser: Correct.\n",
              "transcript_object": [
                {
                  "role": "agent",
                  "content": "Hello! Thank you for calling Lumina Dental Clinic. This is Pearl speaking. How can I assist you today?",
                  "words": [
                    {
                      "word": "Hello!",
                      "start": 1.006,
                      "end": 1.679
                    },
                    {
                      "word": " Thank ",
                      "start": 1.7255,
                      "end": 1.9465
                    },
                    {
                      "word": "you ",
                      "start": 1.9465,
                      "end": 2.0745
                    },
                    {
                      "word": "for ",
                      "start": 2.0745,
                      "end": 2.2485
                    },
                    {
                      "word": "calling ",
                      "start": 2.2485,
                      "end": 2.5735
                    },
                    {
                      "word": "Lumina ",
                      "start": 2.5735,
                      "end": 2.8865
                    },
                    {
                      "word": "Dental ",
                      "start": 2.8865,
                      "end": 3.1655
                    },
                    {
                      "word": "Clinic.",
                      "start": 3.1655,
                      "end": 3.7225
                    },
                    {
                      "word": " This ",
                      "start": 3.768875,
                      "end": 4.012875
                    },
                    {
                      "word": "is ",
                      "start": 4.012875,
                      "end": 4.152875
                    },
                    {
                      "word": "Pearl ",
                      "start": 4.152875,
                      "end": 4.453875
                    },
                    {
                      "word": "speaking.",
                      "start": 4.453875,
                      "end": 5.115875
                    },
                    {
                      "word": " How ",
                      "start": 5.162083251953125,
                      "end": 5.290083251953125
                    },
                    {
                      "word": "can ",
                      "start": 5.290083251953125,
                      "end": 5.441083251953125
                    },
                    {
                      "word": "I ",
                      "start": 5.441083251953125,
                      "end": 5.522083251953125
                    },
                    {
                      "word": "assist ",
                      "start": 5.522083251953125,
                      "end": 5.847083251953125
                    },
                    {
                      "word": "you ",
                      "start": 5.847083251953125,
                      "end": 5.952083251953125
                    },
                    {
                      "word": "today?",
                      "start": 5.952083251953125,
                      "end": 6.509083251953125
                    }
                  ],
                  "metadata": {
                    "response_id": 0
                  }
                },
                {
                  "role": "user",
                  "content": "I wanna book my appointment",
                  "words": [
                    {
                      "word": "I ",
                      "start": 9.751000000000001,
                      "end": 10.071
                    },
                    {
                      "word": "wanna ",
                      "start": 10.071,
                      "end": 10.311
                    },
                    {
                      "word": "book ",
                      "start": 10.311,
                      "end": 10.550999999999998
                    },
                    {
                      "word": "my ",
                      "start": 10.550999999999998,
                      "end": 10.791
                    },
                    {
                      "word": "appointment",
                      "start": 10.791,
                      "end": 11.030999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "name is David Warner.",
                  "words": [
                    {
                      "word": "name ",
                      "start": 11.811,
                      "end": 11.971
                    },
                    {
                      "word": "is ",
                      "start": 11.971,
                      "end": 12.050999999999998
                    },
                    {
                      "word": "David ",
                      "start": 12.050999999999998,
                      "end": 12.371001
                    },
                    {
                      "word": "Warner.",
                      "start": 12.371001,
                      "end": 12.690999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "And I wanna book my appointment on the third first December first December four PM.",
                  "words": [
                    {
                      "word": "And ",
                      "start": 12.940999999999999,
                      "end": 13.261
                    },
                    {
                      "word": "I ",
                      "start": 13.261,
                      "end": 13.501000999999999
                    },
                    {
                      "word": "wanna ",
                      "start": 13.501000999999999,
                      "end": 13.821000000000002
                    },
                    {
                      "word": "book ",
                      "start": 13.821000000000002,
                      "end": 14.141000000000002
                    },
                    {
                      "word": "my ",
                      "start": 14.141000000000002,
                      "end": 14.381
                    },
                    {
                      "word": "appointment ",
                      "start": 14.381,
                      "end": 14.861
                    },
                    {
                      "word": "on ",
                      "start": 14.861,
                      "end": 15.261
                    },
                    {
                      "word": "the ",
                      "start": 15.261,
                      "end": 15.581
                    },
                    {
                      "word": "third ",
                      "start": 15.581,
                      "end": 16.061
                    },
                    {
                      "word": "first ",
                      "start": 16.640999,
                      "end": 16.961
                    },
                    {
                      "word": "December ",
                      "start": 16.961,
                      "end": 17.440999
                    },
                    {
                      "word": "first ",
                      "start": 19.331,
                      "end": 19.811
                    },
                    {
                      "word": "December ",
                      "start": 19.811,
                      "end": 20.291
                    },
                    {
                      "word": "four ",
                      "start": 21.681,
                      "end": 22.081
                    },
                    {
                      "word": "PM.",
                      "start": 22.081,
                      "end": 22.320999999999998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you, David Warner. Just to confirm, your full name is David Warner, correct?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 23.478,
                      "end": 23.733
                    },
                    {
                      "word": "you, ",
                      "start": 23.733,
                      "end": 23.919
                    },
                    {
                      "word": "David ",
                      "start": 23.919,
                      "end": 24.221
                    },
                    {
                      "word": "Warner.",
                      "start": 24.221,
                      "end": 24.825
                    },
                    {
                      "word": " Just ",
                      "start": 24.870625,
                      "end": 25.091625
                    },
                    {
                      "word": "to ",
                      "start": 25.091625,
                      "end": 25.196625
                    },
                    {
                      "word": "confirm, ",
                      "start": 25.196625,
                      "end": 25.695625
                    },
                    {
                      "word": "your ",
                      "start": 25.695625,
                      "end": 25.846625
                    },
                    {
                      "word": "full ",
                      "start": 25.846625,
                      "end": 26.043625
                    },
                    {
                      "word": "name ",
                      "start": 26.043625,
                      "end": 26.217625
                    },
                    {
                      "word": "is ",
                      "start": 26.217625,
                      "end": 26.333625
                    },
                    {
                      "word": "David ",
                      "start": 26.333625,
                      "end": 26.635625
                    },
                    {
                      "word": "Warner, ",
                      "start": 26.635625,
                      "end": 27.007625
                    },
                    {
                      "word": "correct?",
                      "start": 27.007625,
                      "end": 27.657625
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 28.611,
                      "end": 28.931
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your name, David. May I please have your phone number to proceed with booking your appointment for December 1st at 4 PM?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 30.753,
                      "end": 30.973
                    },
                    {
                      "word": "you ",
                      "start": 30.973,
                      "end": 31.078
                    },
                    {
                      "word": "for ",
                      "start": 31.078,
                      "end": 31.206
                    },
                    {
                      "word": "confirming ",
                      "start": 31.206,
                      "end": 31.635
                    },
                    {
                      "word": "your ",
                      "start": 31.635,
                      "end": 31.786
                    },
                    {
                      "word": "name, ",
                      "start": 31.786,
                      "end": 32.03
                    },
                    {
                      "word": "David.",
                      "start": 32.03,
                      "end": 32.657
                    },
                    {
                      "word": " May ",
                      "start": 32.668916748046875,
                      "end": 32.86591674804688
                    },
                    {
                      "word": "I ",
                      "start": 32.86591674804688,
                      "end": 32.946916748046874
                    },
                    {
                      "word": "please ",
                      "start": 32.946916748046874,
                      "end": 33.202916748046874
                    },
                    {
                      "word": "have ",
                      "start": 33.202916748046874,
                      "end": 33.34191674804688
                    },
                    {
                      "word": "your ",
                      "start": 33.34191674804688,
                      "end": 33.46991674804688
                    },
                    {
                      "word": "phone ",
                      "start": 33.46991674804688,
                      "end": 33.631916748046876
                    },
                    {
                      "word": "number ",
                      "start": 33.631916748046876,
                      "end": 33.89891674804687
                    },
                    {
                      "word": "to ",
                      "start": 33.89891674804687,
                      "end": 33.991916748046876
                    },
                    {
                      "word": "proceed ",
                      "start": 33.991916748046876,
                      "end": 34.37491674804688
                    },
                    {
                      "word": "with ",
                      "start": 34.37491674804688,
                      "end": 34.56091674804688
                    },
                    {
                      "word": "booking ",
                      "start": 34.56091674804688,
                      "end": 34.90891674804688
                    },
                    {
                      "word": "your ",
                      "start": 34.90891674804688,
                      "end": 35.059916748046874
                    },
                    {
                      "word": "appointment ",
                      "start": 35.059916748046874,
                      "end": 35.58291674804688
                    },
                    {
                      "word": "for ",
                      "start": 35.58291674804688,
                      "end": 35.756916748046876
                    },
                    {
                      "word": "December ",
                      "start": 35.756916748046876,
                      "end": 36.13991674804687
                    },
                    {
                      "word": "1st ",
                      "start": 36.13991674804687,
                      "end": 36.51191674804687
                    },
                    {
                      "word": "at ",
                      "start": 36.51191674804687,
                      "end": 36.696916748046874
                    },
                    {
                      "word": "4 ",
                      "start": 36.696916748046874,
                      "end": 36.894916748046874
                    },
                    {
                      "word": "PM?",
                      "start": 36.894916748046874,
                      "end": 37.57991674804688
                    }
                  ],
                  "metadata": {
                    "response_id": 5
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. Zero three two three four one nine one. Double zero eight. And my email is f I b e r one eight nine zero at Gmail dot com.",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 40.070998,
                      "end": 40.550997
                    },
                    {
                      "word": "Zero ",
                      "start": 40.550997,
                      "end": 40.871
                    },
                    {
                      "word": "three ",
                      "start": 40.871,
                      "end": 41.031000000000006
                    },
                    {
                      "word": "two ",
                      "start": 41.031000000000006,
                      "end": 41.271
                    },
                    {
                      "word": "three ",
                      "start": 41.271,
                      "end": 41.431000000000004
                    },
                    {
                      "word": "four ",
                      "start": 41.431000000000004,
                      "end": 41.590998000000006
                    },
                    {
                      "word": "one ",
                      "start": 41.590998000000006,
                      "end": 41.750998
                    },
                    {
                      "word": "nine ",
                      "start": 41.750998,
                      "end": 41.910998
                    },
                    {
                      "word": "one. ",
                      "start": 41.910998,
                      "end": 42.070998
                    },
                    {
                      "word": "Double ",
                      "start": 42.371,
                      "end": 42.691
                    },
                    {
                      "word": "zero ",
                      "start": 42.691,
                      "end": 43.011
                    },
                    {
                      "word": "eight. ",
                      "start": 43.011,
                      "end": 43.331
                    },
                    {
                      "word": "And ",
                      "start": 43.331,
                      "end": 43.491
                    },
                    {
                      "word": "my ",
                      "start": 43.491,
                      "end": 43.651
                    },
                    {
                      "word": "email ",
                      "start": 43.651,
                      "end": 43.891000000000005
                    },
                    {
                      "word": "is ",
                      "start": 43.891000000000005,
                      "end": 44.051
                    },
                    {
                      "word": "f ",
                      "start": 44.051,
                      "end": 44.371
                    },
                    {
                      "word": "I ",
                      "start": 44.371,
                      "end": 44.531000000000006
                    },
                    {
                      "word": "b ",
                      "start": 44.531000000000006,
                      "end": 44.771002
                    },
                    {
                      "word": "e ",
                      "start": 44.771002,
                      "end": 44.931002
                    },
                    {
                      "word": "r ",
                      "start": 44.931002,
                      "end": 45.091
                    },
                    {
                      "word": "one ",
                      "start": 45.091,
                      "end": 45.251000000000005
                    },
                    {
                      "word": "eight ",
                      "start": 45.251000000000005,
                      "end": 45.411
                    },
                    {
                      "word": "nine ",
                      "start": 45.411,
                      "end": 45.571000000000005
                    },
                    {
                      "word": "zero ",
                      "start": 45.571000000000005,
                      "end": 45.731
                    },
                    {
                      "word": "at ",
                      "start": 45.731,
                      "end": 45.891000000000005
                    },
                    {
                      "word": "Gmail ",
                      "start": 45.891000000000005,
                      "end": 46.131
                    },
                    {
                      "word": "dot ",
                      "start": 46.131,
                      "end": 46.371
                    },
                    {
                      "word": "com.",
                      "start": 46.371,
                      "end": 46.531000000000006
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for providing your phone number. Let me read that back to make sure I got it: 032...341...91008. ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 47.919,
                      "end": 48.209
                    },
                    {
                      "word": "you ",
                      "start": 48.209,
                      "end": 48.348
                    },
                    {
                      "word": "for ",
                      "start": 48.348,
                      "end": 48.534
                    },
                    {
                      "word": "providing ",
                      "start": 48.534,
                      "end": 49.01
                    },
                    {
                      "word": "your ",
                      "start": 49.01,
                      "end": 49.149
                    },
                    {
                      "word": "phone ",
                      "start": 49.149,
                      "end": 49.358
                    },
                    {
                      "word": "number.",
                      "start": 49.358,
                      "end": 50.032
                    },
                    {
                      "word": " Let ",
                      "start": 50.07766674804687,
                      "end": 50.20566674804687
                    },
                    {
                      "word": "me ",
                      "start": 50.20566674804687,
                      "end": 50.31066674804688
                    },
                    {
                      "word": "read ",
                      "start": 50.31066674804688,
                      "end": 50.472666748046876
                    },
                    {
                      "word": "that ",
                      "start": 50.472666748046876,
                      "end": 50.646666748046876
                    },
                    {
                      "word": "back ",
                      "start": 50.646666748046876,
                      "end": 50.87966674804687
                    },
                    {
                      "word": "to ",
                      "start": 50.87966674804687,
                      "end": 50.98366674804687
                    },
                    {
                      "word": "make ",
                      "start": 50.98366674804687,
                      "end": 51.122666748046875
                    },
                    {
                      "word": "sure ",
                      "start": 51.122666748046875,
                      "end": 51.28566674804687
                    },
                    {
                      "word": "I ",
                      "start": 51.28566674804687,
                      "end": 51.366666748046875
                    },
                    {
                      "word": "got ",
                      "start": 51.366666748046875,
                      "end": 51.598666748046874
                    },
                    {
                      "word": "it: ",
                      "start": 51.598666748046874,
                      "end": 52.19066674804687
                    },
                    {
                      "word": "032...",
                      "start": 52.19066674804687,
                      "end": 52.655666748046876
                    },
                    {
                      "word": "341...",
                      "start": 53.56066674804688,
                      "end": 53.839666748046874
                    },
                    {
                      "word": "91008. ",
                      "start": 55.04675,
                      "end": 55.31375
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct. ",
                  "words": [
                    {
                      "word": "Correct. ",
                      "start": 55.471000000000004,
                      "end": 55.871
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Is that correct?",
                  "words": [
                    {
                      "word": "Is ",
                      "start": 56.57929174804688,
                      "end": 56.672291748046874
                    },
                    {
                      "word": "that ",
                      "start": 56.672291748046874,
                      "end": 56.83529174804688
                    },
                    {
                      "word": "correct?",
                      "start": 56.83529174804688,
                      "end": 57.36929174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 59.031000000000006,
                      "end": 59.271002
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your phone number. Now, for your email, could you please confirm it letter by letter? I have: f, i, b, e, r, 1, 8, 9, 0, @, g, m, a, i, l, ., c, ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 60.583,
                      "end": 60.838
                    },
                    {
                      "word": "you ",
                      "start": 60.838,
                      "end": 60.978
                    },
                    {
                      "word": "for ",
                      "start": 60.978,
                      "end": 61.14
                    },
                    {
                      "word": "confirming ",
                      "start": 61.14,
                      "end": 61.535
                    },
                    {
                      "word": "your ",
                      "start": 61.535,
                      "end": 61.651
                    },
                    {
                      "word": "phone ",
                      "start": 61.651,
                      "end": 61.86
                    },
                    {
                      "word": "number.",
                      "start": 61.86,
                      "end": 62.382
                    },
                    {
                      "word": " Now, ",
                      "start": 62.3945,
                      "end": 62.6035
                    },
                    {
                      "word": "for ",
                      "start": 62.6035,
                      "end": 62.7775
                    },
                    {
                      "word": "your ",
                      "start": 62.7775,
                      "end": 62.9515
                    },
                    {
                      "word": "email, ",
                      "start": 62.9515,
                      "end": 63.2885
                    },
                    {
                      "word": "could ",
                      "start": 63.2885,
                      "end": 63.4735
                    },
                    {
                      "word": "you ",
                      "start": 63.4735,
                      "end": 63.6015
                    },
                    {
                      "word": "please ",
                      "start": 63.6015,
                      "end": 63.9155
                    },
                    {
                      "word": "confirm ",
                      "start": 63.9155,
                      "end": 64.3095
                    },
                    {
                      "word": "it ",
                      "start": 64.3095,
                      "end": 64.4025
                    },
                    {
                      "word": "letter ",
                      "start": 64.4025,
                      "end": 64.6925
                    },
                    {
                      "word": "by ",
                      "start": 64.6925,
                      "end": 64.8785
                    },
                    {
                      "word": "letter?",
                      "start": 64.8785,
                      "end": 65.4935
                    },
                    {
                      "word": " I ",
                      "start": 65.529,
                      "end": 65.657
                    },
                    {
                      "word": "have: ",
                      "start": 65.657,
                      "end": 65.9
                    },
                    {
                      "word": "f, ",
                      "start": 65.9,
                      "end": 66.121
                    },
                    {
                      "word": "i, ",
                      "start": 66.121,
                      "end": 66.376
                    },
                    {
                      "word": "b, ",
                      "start": 66.376,
                      "end": 66.609
                    },
                    {
                      "word": "e, ",
                      "start": 66.609,
                      "end": 66.806
                    },
                    {
                      "word": "r, ",
                      "start": 66.806,
                      "end": 67.05
                    },
                    {
                      "word": "1, ",
                      "start": 67.05,
                      "end": 67.27
                    },
                    {
                      "word": "8, ",
                      "start": 67.27,
                      "end": 67.503
                    },
                    {
                      "word": "9, ",
                      "start": 67.503,
                      "end": 67.746
                    },
                    {
                      "word": "0, ",
                      "start": 67.746,
                      "end": 68.118
                    },
                    {
                      "word": "@, ",
                      "start": 68.118,
                      "end": 68.431
                    },
                    {
                      "word": "g, ",
                      "start": 68.431,
                      "end": 68.733
                    },
                    {
                      "word": "m, ",
                      "start": 68.733,
                      "end": 68.954
                    },
                    {
                      "word": "a, ",
                      "start": 68.954,
                      "end": 69.163
                    },
                    {
                      "word": "i, ",
                      "start": 69.163,
                      "end": 69.407
                    },
                    {
                      "word": "l, ",
                      "start": 69.407,
                      "end": 69.743
                    },
                    {
                      "word": "., ",
                      "start": 69.743,
                      "end": 70.022
                    },
                    {
                      "word": "c, ",
                      "start": 70.022,
                      "end": 70.196
                    }
                  ],
                  "metadata": {
                    "response_id": 9
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 70.25099999999999,
                      "end": 70.490996
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 71.271,
                      "end": 71.67099999999999
                    }
                  ]
                }
              ],
              "transcript_with_tool_calls": [
                {
                  "role": "agent",
                  "content": "Hello! Thank you for calling Lumina Dental Clinic. This is Pearl speaking. How can I assist you today?",
                  "words": [
                    {
                      "word": "Hello!",
                      "start": 1.006,
                      "end": 1.679
                    },
                    {
                      "word": " Thank ",
                      "start": 1.7255,
                      "end": 1.9465
                    },
                    {
                      "word": "you ",
                      "start": 1.9465,
                      "end": 2.0745
                    },
                    {
                      "word": "for ",
                      "start": 2.0745,
                      "end": 2.2485
                    },
                    {
                      "word": "calling ",
                      "start": 2.2485,
                      "end": 2.5735
                    },
                    {
                      "word": "Lumina ",
                      "start": 2.5735,
                      "end": 2.8865
                    },
                    {
                      "word": "Dental ",
                      "start": 2.8865,
                      "end": 3.1655
                    },
                    {
                      "word": "Clinic.",
                      "start": 3.1655,
                      "end": 3.7225
                    },
                    {
                      "word": " This ",
                      "start": 3.768875,
                      "end": 4.012875
                    },
                    {
                      "word": "is ",
                      "start": 4.012875,
                      "end": 4.152875
                    },
                    {
                      "word": "Pearl ",
                      "start": 4.152875,
                      "end": 4.453875
                    },
                    {
                      "word": "speaking.",
                      "start": 4.453875,
                      "end": 5.115875
                    },
                    {
                      "word": " How ",
                      "start": 5.162083251953125,
                      "end": 5.290083251953125
                    },
                    {
                      "word": "can ",
                      "start": 5.290083251953125,
                      "end": 5.441083251953125
                    },
                    {
                      "word": "I ",
                      "start": 5.441083251953125,
                      "end": 5.522083251953125
                    },
                    {
                      "word": "assist ",
                      "start": 5.522083251953125,
                      "end": 5.847083251953125
                    },
                    {
                      "word": "you ",
                      "start": 5.847083251953125,
                      "end": 5.952083251953125
                    },
                    {
                      "word": "today?",
                      "start": 5.952083251953125,
                      "end": 6.509083251953125
                    }
                  ],
                  "metadata": {
                    "response_id": 0
                  }
                },
                {
                  "role": "user",
                  "content": "I wanna book my appointment",
                  "words": [
                    {
                      "word": "I ",
                      "start": 9.751000000000001,
                      "end": 10.071
                    },
                    {
                      "word": "wanna ",
                      "start": 10.071,
                      "end": 10.311
                    },
                    {
                      "word": "book ",
                      "start": 10.311,
                      "end": 10.550999999999998
                    },
                    {
                      "word": "my ",
                      "start": 10.550999999999998,
                      "end": 10.791
                    },
                    {
                      "word": "appointment",
                      "start": 10.791,
                      "end": 11.030999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "name is David Warner.",
                  "words": [
                    {
                      "word": "name ",
                      "start": 11.811,
                      "end": 11.971
                    },
                    {
                      "word": "is ",
                      "start": 11.971,
                      "end": 12.050999999999998
                    },
                    {
                      "word": "David ",
                      "start": 12.050999999999998,
                      "end": 12.371001
                    },
                    {
                      "word": "Warner.",
                      "start": 12.371001,
                      "end": 12.690999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "And I wanna book my appointment on the third first December first December four PM.",
                  "words": [
                    {
                      "word": "And ",
                      "start": 12.940999999999999,
                      "end": 13.261
                    },
                    {
                      "word": "I ",
                      "start": 13.261,
                      "end": 13.501000999999999
                    },
                    {
                      "word": "wanna ",
                      "start": 13.501000999999999,
                      "end": 13.821000000000002
                    },
                    {
                      "word": "book ",
                      "start": 13.821000000000002,
                      "end": 14.141000000000002
                    },
                    {
                      "word": "my ",
                      "start": 14.141000000000002,
                      "end": 14.381
                    },
                    {
                      "word": "appointment ",
                      "start": 14.381,
                      "end": 14.861
                    },
                    {
                      "word": "on ",
                      "start": 14.861,
                      "end": 15.261
                    },
                    {
                      "word": "the ",
                      "start": 15.261,
                      "end": 15.581
                    },
                    {
                      "word": "third ",
                      "start": 15.581,
                      "end": 16.061
                    },
                    {
                      "word": "first ",
                      "start": 16.640999,
                      "end": 16.961
                    },
                    {
                      "word": "December ",
                      "start": 16.961,
                      "end": 17.440999
                    },
                    {
                      "word": "first ",
                      "start": 19.331,
                      "end": 19.811
                    },
                    {
                      "word": "December ",
                      "start": 19.811,
                      "end": 20.291
                    },
                    {
                      "word": "four ",
                      "start": 21.681,
                      "end": 22.081
                    },
                    {
                      "word": "PM.",
                      "start": 22.081,
                      "end": 22.320999999999998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you, David Warner. Just to confirm, your full name is David Warner, correct?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 23.478,
                      "end": 23.733
                    },
                    {
                      "word": "you, ",
                      "start": 23.733,
                      "end": 23.919
                    },
                    {
                      "word": "David ",
                      "start": 23.919,
                      "end": 24.221
                    },
                    {
                      "word": "Warner.",
                      "start": 24.221,
                      "end": 24.825
                    },
                    {
                      "word": " Just ",
                      "start": 24.870625,
                      "end": 25.091625
                    },
                    {
                      "word": "to ",
                      "start": 25.091625,
                      "end": 25.196625
                    },
                    {
                      "word": "confirm, ",
                      "start": 25.196625,
                      "end": 25.695625
                    },
                    {
                      "word": "your ",
                      "start": 25.695625,
                      "end": 25.846625
                    },
                    {
                      "word": "full ",
                      "start": 25.846625,
                      "end": 26.043625
                    },
                    {
                      "word": "name ",
                      "start": 26.043625,
                      "end": 26.217625
                    },
                    {
                      "word": "is ",
                      "start": 26.217625,
                      "end": 26.333625
                    },
                    {
                      "word": "David ",
                      "start": 26.333625,
                      "end": 26.635625
                    },
                    {
                      "word": "Warner, ",
                      "start": 26.635625,
                      "end": 27.007625
                    },
                    {
                      "word": "correct?",
                      "start": 27.007625,
                      "end": 27.657625
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 28.611,
                      "end": 28.931
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your name, David. May I please have your phone number to proceed with booking your appointment for December 1st at 4 PM?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 30.753,
                      "end": 30.973
                    },
                    {
                      "word": "you ",
                      "start": 30.973,
                      "end": 31.078
                    },
                    {
                      "word": "for ",
                      "start": 31.078,
                      "end": 31.206
                    },
                    {
                      "word": "confirming ",
                      "start": 31.206,
                      "end": 31.635
                    },
                    {
                      "word": "your ",
                      "start": 31.635,
                      "end": 31.786
                    },
                    {
                      "word": "name, ",
                      "start": 31.786,
                      "end": 32.03
                    },
                    {
                      "word": "David.",
                      "start": 32.03,
                      "end": 32.657
                    },
                    {
                      "word": " May ",
                      "start": 32.668916748046875,
                      "end": 32.86591674804688
                    },
                    {
                      "word": "I ",
                      "start": 32.86591674804688,
                      "end": 32.946916748046874
                    },
                    {
                      "word": "please ",
                      "start": 32.946916748046874,
                      "end": 33.202916748046874
                    },
                    {
                      "word": "have ",
                      "start": 33.202916748046874,
                      "end": 33.34191674804688
                    },
                    {
                      "word": "your ",
                      "start": 33.34191674804688,
                      "end": 33.46991674804688
                    },
                    {
                      "word": "phone ",
                      "start": 33.46991674804688,
                      "end": 33.631916748046876
                    },
                    {
                      "word": "number ",
                      "start": 33.631916748046876,
                      "end": 33.89891674804687
                    },
                    {
                      "word": "to ",
                      "start": 33.89891674804687,
                      "end": 33.991916748046876
                    },
                    {
                      "word": "proceed ",
                      "start": 33.991916748046876,
                      "end": 34.37491674804688
                    },
                    {
                      "word": "with ",
                      "start": 34.37491674804688,
                      "end": 34.56091674804688
                    },
                    {
                      "word": "booking ",
                      "start": 34.56091674804688,
                      "end": 34.90891674804688
                    },
                    {
                      "word": "your ",
                      "start": 34.90891674804688,
                      "end": 35.059916748046874
                    },
                    {
                      "word": "appointment ",
                      "start": 35.059916748046874,
                      "end": 35.58291674804688
                    },
                    {
                      "word": "for ",
                      "start": 35.58291674804688,
                      "end": 35.756916748046876
                    },
                    {
                      "word": "December ",
                      "start": 35.756916748046876,
                      "end": 36.13991674804687
                    },
                    {
                      "word": "1st ",
                      "start": 36.13991674804687,
                      "end": 36.51191674804687
                    },
                    {
                      "word": "at ",
                      "start": 36.51191674804687,
                      "end": 36.696916748046874
                    },
                    {
                      "word": "4 ",
                      "start": 36.696916748046874,
                      "end": 36.894916748046874
                    },
                    {
                      "word": "PM?",
                      "start": 36.894916748046874,
                      "end": 37.57991674804688
                    }
                  ],
                  "metadata": {
                    "response_id": 5
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. Zero three two three four one nine one. Double zero eight. And my email is f I b e r one eight nine zero at Gmail dot com.",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 40.070998,
                      "end": 40.550997
                    },
                    {
                      "word": "Zero ",
                      "start": 40.550997,
                      "end": 40.871
                    },
                    {
                      "word": "three ",
                      "start": 40.871,
                      "end": 41.031000000000006
                    },
                    {
                      "word": "two ",
                      "start": 41.031000000000006,
                      "end": 41.271
                    },
                    {
                      "word": "three ",
                      "start": 41.271,
                      "end": 41.431000000000004
                    },
                    {
                      "word": "four ",
                      "start": 41.431000000000004,
                      "end": 41.590998000000006
                    },
                    {
                      "word": "one ",
                      "start": 41.590998000000006,
                      "end": 41.750998
                    },
                    {
                      "word": "nine ",
                      "start": 41.750998,
                      "end": 41.910998
                    },
                    {
                      "word": "one. ",
                      "start": 41.910998,
                      "end": 42.070998
                    },
                    {
                      "word": "Double ",
                      "start": 42.371,
                      "end": 42.691
                    },
                    {
                      "word": "zero ",
                      "start": 42.691,
                      "end": 43.011
                    },
                    {
                      "word": "eight. ",
                      "start": 43.011,
                      "end": 43.331
                    },
                    {
                      "word": "And ",
                      "start": 43.331,
                      "end": 43.491
                    },
                    {
                      "word": "my ",
                      "start": 43.491,
                      "end": 43.651
                    },
                    {
                      "word": "email ",
                      "start": 43.651,
                      "end": 43.891000000000005
                    },
                    {
                      "word": "is ",
                      "start": 43.891000000000005,
                      "end": 44.051
                    },
                    {
                      "word": "f ",
                      "start": 44.051,
                      "end": 44.371
                    },
                    {
                      "word": "I ",
                      "start": 44.371,
                      "end": 44.531000000000006
                    },
                    {
                      "word": "b ",
                      "start": 44.531000000000006,
                      "end": 44.771002
                    },
                    {
                      "word": "e ",
                      "start": 44.771002,
                      "end": 44.931002
                    },
                    {
                      "word": "r ",
                      "start": 44.931002,
                      "end": 45.091
                    },
                    {
                      "word": "one ",
                      "start": 45.091,
                      "end": 45.251000000000005
                    },
                    {
                      "word": "eight ",
                      "start": 45.251000000000005,
                      "end": 45.411
                    },
                    {
                      "word": "nine ",
                      "start": 45.411,
                      "end": 45.571000000000005
                    },
                    {
                      "word": "zero ",
                      "start": 45.571000000000005,
                      "end": 45.731
                    },
                    {
                      "word": "at ",
                      "start": 45.731,
                      "end": 45.891000000000005
                    },
                    {
                      "word": "Gmail ",
                      "start": 45.891000000000005,
                      "end": 46.131
                    },
                    {
                      "word": "dot ",
                      "start": 46.131,
                      "end": 46.371
                    },
                    {
                      "word": "com.",
                      "start": 46.371,
                      "end": 46.531000000000006
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for providing your phone number. Let me read that back to make sure I got it: 032...341...91008. ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 47.919,
                      "end": 48.209
                    },
                    {
                      "word": "you ",
                      "start": 48.209,
                      "end": 48.348
                    },
                    {
                      "word": "for ",
                      "start": 48.348,
                      "end": 48.534
                    },
                    {
                      "word": "providing ",
                      "start": 48.534,
                      "end": 49.01
                    },
                    {
                      "word": "your ",
                      "start": 49.01,
                      "end": 49.149
                    },
                    {
                      "word": "phone ",
                      "start": 49.149,
                      "end": 49.358
                    },
                    {
                      "word": "number.",
                      "start": 49.358,
                      "end": 50.032
                    },
                    {
                      "word": " Let ",
                      "start": 50.07766674804687,
                      "end": 50.20566674804687
                    },
                    {
                      "word": "me ",
                      "start": 50.20566674804687,
                      "end": 50.31066674804688
                    },
                    {
                      "word": "read ",
                      "start": 50.31066674804688,
                      "end": 50.472666748046876
                    },
                    {
                      "word": "that ",
                      "start": 50.472666748046876,
                      "end": 50.646666748046876
                    },
                    {
                      "word": "back ",
                      "start": 50.646666748046876,
                      "end": 50.87966674804687
                    },
                    {
                      "word": "to ",
                      "start": 50.87966674804687,
                      "end": 50.98366674804687
                    },
                    {
                      "word": "make ",
                      "start": 50.98366674804687,
                      "end": 51.122666748046875
                    },
                    {
                      "word": "sure ",
                      "start": 51.122666748046875,
                      "end": 51.28566674804687
                    },
                    {
                      "word": "I ",
                      "start": 51.28566674804687,
                      "end": 51.366666748046875
                    },
                    {
                      "word": "got ",
                      "start": 51.366666748046875,
                      "end": 51.598666748046874
                    },
                    {
                      "word": "it: ",
                      "start": 51.598666748046874,
                      "end": 52.19066674804687
                    },
                    {
                      "word": "032...",
                      "start": 52.19066674804687,
                      "end": 52.655666748046876
                    },
                    {
                      "word": "341...",
                      "start": 53.56066674804688,
                      "end": 53.839666748046874
                    },
                    {
                      "word": "91008. ",
                      "start": 55.04675,
                      "end": 55.31375
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct. ",
                  "words": [
                    {
                      "word": "Correct. ",
                      "start": 55.471000000000004,
                      "end": 55.871
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Is that correct?",
                  "words": [
                    {
                      "word": "Is ",
                      "start": 56.57929174804688,
                      "end": 56.672291748046874
                    },
                    {
                      "word": "that ",
                      "start": 56.672291748046874,
                      "end": 56.83529174804688
                    },
                    {
                      "word": "correct?",
                      "start": 56.83529174804688,
                      "end": 57.36929174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 59.031000000000006,
                      "end": 59.271002
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your phone number. Now, for your email, could you please confirm it letter by letter? I have: f, i, b, e, r, 1, 8, 9, 0, @, g, m, a, i, l, ., c, ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 60.583,
                      "end": 60.838
                    },
                    {
                      "word": "you ",
                      "start": 60.838,
                      "end": 60.978
                    },
                    {
                      "word": "for ",
                      "start": 60.978,
                      "end": 61.14
                    },
                    {
                      "word": "confirming ",
                      "start": 61.14,
                      "end": 61.535
                    },
                    {
                      "word": "your ",
                      "start": 61.535,
                      "end": 61.651
                    },
                    {
                      "word": "phone ",
                      "start": 61.651,
                      "end": 61.86
                    },
                    {
                      "word": "number.",
                      "start": 61.86,
                      "end": 62.382
                    },
                    {
                      "word": " Now, ",
                      "start": 62.3945,
                      "end": 62.6035
                    },
                    {
                      "word": "for ",
                      "start": 62.6035,
                      "end": 62.7775
                    },
                    {
                      "word": "your ",
                      "start": 62.7775,
                      "end": 62.9515
                    },
                    {
                      "word": "email, ",
                      "start": 62.9515,
                      "end": 63.2885
                    },
                    {
                      "word": "could ",
                      "start": 63.2885,
                      "end": 63.4735
                    },
                    {
                      "word": "you ",
                      "start": 63.4735,
                      "end": 63.6015
                    },
                    {
                      "word": "please ",
                      "start": 63.6015,
                      "end": 63.9155
                    },
                    {
                      "word": "confirm ",
                      "start": 63.9155,
                      "end": 64.3095
                    },
                    {
                      "word": "it ",
                      "start": 64.3095,
                      "end": 64.4025
                    },
                    {
                      "word": "letter ",
                      "start": 64.4025,
                      "end": 64.6925
                    },
                    {
                      "word": "by ",
                      "start": 64.6925,
                      "end": 64.8785
                    },
                    {
                      "word": "letter?",
                      "start": 64.8785,
                      "end": 65.4935
                    },
                    {
                      "word": " I ",
                      "start": 65.529,
                      "end": 65.657
                    },
                    {
                      "word": "have: ",
                      "start": 65.657,
                      "end": 65.9
                    },
                    {
                      "word": "f, ",
                      "start": 65.9,
                      "end": 66.121
                    },
                    {
                      "word": "i, ",
                      "start": 66.121,
                      "end": 66.376
                    },
                    {
                      "word": "b, ",
                      "start": 66.376,
                      "end": 66.609
                    },
                    {
                      "word": "e, ",
                      "start": 66.609,
                      "end": 66.806
                    },
                    {
                      "word": "r, ",
                      "start": 66.806,
                      "end": 67.05
                    },
                    {
                      "word": "1, ",
                      "start": 67.05,
                      "end": 67.27
                    },
                    {
                      "word": "8, ",
                      "start": 67.27,
                      "end": 67.503
                    },
                    {
                      "word": "9, ",
                      "start": 67.503,
                      "end": 67.746
                    },
                    {
                      "word": "0, ",
                      "start": 67.746,
                      "end": 68.118
                    },
                    {
                      "word": "@, ",
                      "start": 68.118,
                      "end": 68.431
                    },
                    {
                      "word": "g, ",
                      "start": 68.431,
                      "end": 68.733
                    },
                    {
                      "word": "m, ",
                      "start": 68.733,
                      "end": 68.954
                    },
                    {
                      "word": "a, ",
                      "start": 68.954,
                      "end": 69.163
                    },
                    {
                      "word": "i, ",
                      "start": 69.163,
                      "end": 69.407
                    },
                    {
                      "word": "l, ",
                      "start": 69.407,
                      "end": 69.743
                    },
                    {
                      "word": "., ",
                      "start": 69.743,
                      "end": 70.022
                    },
                    {
                      "word": "c, ",
                      "start": 70.022,
                      "end": 70.196
                    }
                  ],
                  "metadata": {
                    "response_id": 9
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 70.25099999999999,
                      "end": 70.490996
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 71.271,
                      "end": 71.67099999999999
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "58885999fec2220f",
                  "name": "calender",
                  "arguments": "{\"phone\":\"03234191008\",\"reschedule_time\":null,\"timezone\":\"Asia/Karachi\",\"name\":\"David Warner\",\"action\":\"book\",\"booking_time\":\"2025-12-01T16:00:00+05:00\",\"email\":\"fiber1890@gmail.com\",\"availability_time\":null}",
                  "time_sec": 73.437,
                  "type": "custom"
                }
              ],
              "latency": {},
              "call_cost": {
                "product_costs": [],
                "total_duration_unit_price": 0,
                "total_duration_seconds": 0,
                "combined_cost": 0
              },
              "data_storage_setting": "everything",
              "opt_in_signed_url": false,
              "access_token": "eyJhbGciOiJIUzI1NiJ9.eyJ2aWRlbyI6eyJyb29tSm9pbiI6dHJ1ZSwicm9vbSI6IndlYl9jYWxsXzUyZWJiMTU5MTY3ZDcyMDkyYWU2MWI0NDllYiJ9LCJpc3MiOiJBUElqWGZBMzVHTmM3WHgiLCJleHAiOjE3NjQzNTAzMzcsIm5iZiI6MCwic3ViIjoiY2xpZW50In0.5fiD60EdQMwrNAC_5CJmggg9954x8x16__QI5ZGyoA4"
            },
            "name": "calender",
            "args": {
              "phone": "03234191008",
              "reschedule_time": null,
              "timezone": "Asia/Karachi",
              "name": "David Warner",
              "action": "book",
              "booking_time": "2025-12-01T16:00:00+05:00",
              "email": "fiber1890@gmail.com",
              "availability_time": null
            }
          },
          "webhookUrl": "https://my-automations.online/webhook/b0399368-6d2f-43fb-962d-165e0bdb754f",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "my-automations.online",
            "x-real-ip": "100.20.5.228",
            "x-forwarded-for": "100.20.5.228",
            "x-forwarded-proto": "https",
            "content-length": "24852",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-retell-signature": "v=1764349812465,d=3fd2ff45e487eb11e8052081e77bc25534947cfc2b457100294abf949b5d5b78",
            "user-agent": "axios/1.13.2",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "call": {
              "call_id": "call_52ebb159167d72092ae61b449eb",
              "call_type": "web_call",
              "agent_id": "agent_95d3303db74b8250f224b860d1",
              "agent_version": 0,
              "agent_name": "dentist",
              "call_status": "ongoing",
              "start_timestamp": 1764349739027,
              "transcript": "Agent: Hello! Thank you for calling Lumina Dental Clinic. This is Pearl speaking. How can I assist you today?\nUser: I wanna book my appointment\nUser: name is David Warner.\nUser: And I wanna book my appointment on the third first December first December four PM.\nAgent: Thank you, David Warner. Just to confirm, your full name is David Warner, correct?\nUser: Correct.\nAgent: Thank you for confirming your name, David. May I please have your phone number to proceed with booking your appointment for December 1st at 4 PM?\nUser: Yeah. Zero three two three four one nine one. Double zero eight. And my email is f I b e r one eight nine zero at Gmail dot com.\nAgent: Thank you for providing your phone number. Let me read that back to make sure I got it: 032...341...91008. \nUser: Correct. \nAgent: Is that correct?\nUser: Correct.\nAgent: Thank you for confirming your phone number. Now, for your email, could you please confirm it letter by letter? I have: f, i, b, e, r, 1, 8, 9, 0, @, g, m, a, i, l, ., c, \nUser: Correct.\nUser: Correct.\n",
              "transcript_object": [
                {
                  "role": "agent",
                  "content": "Hello! Thank you for calling Lumina Dental Clinic. This is Pearl speaking. How can I assist you today?",
                  "words": [
                    {
                      "word": "Hello!",
                      "start": 1.006,
                      "end": 1.679
                    },
                    {
                      "word": " Thank ",
                      "start": 1.7255,
                      "end": 1.9465
                    },
                    {
                      "word": "you ",
                      "start": 1.9465,
                      "end": 2.0745
                    },
                    {
                      "word": "for ",
                      "start": 2.0745,
                      "end": 2.2485
                    },
                    {
                      "word": "calling ",
                      "start": 2.2485,
                      "end": 2.5735
                    },
                    {
                      "word": "Lumina ",
                      "start": 2.5735,
                      "end": 2.8865
                    },
                    {
                      "word": "Dental ",
                      "start": 2.8865,
                      "end": 3.1655
                    },
                    {
                      "word": "Clinic.",
                      "start": 3.1655,
                      "end": 3.7225
                    },
                    {
                      "word": " This ",
                      "start": 3.768875,
                      "end": 4.012875
                    },
                    {
                      "word": "is ",
                      "start": 4.012875,
                      "end": 4.152875
                    },
                    {
                      "word": "Pearl ",
                      "start": 4.152875,
                      "end": 4.453875
                    },
                    {
                      "word": "speaking.",
                      "start": 4.453875,
                      "end": 5.115875
                    },
                    {
                      "word": " How ",
                      "start": 5.162083251953125,
                      "end": 5.290083251953125
                    },
                    {
                      "word": "can ",
                      "start": 5.290083251953125,
                      "end": 5.441083251953125
                    },
                    {
                      "word": "I ",
                      "start": 5.441083251953125,
                      "end": 5.522083251953125
                    },
                    {
                      "word": "assist ",
                      "start": 5.522083251953125,
                      "end": 5.847083251953125
                    },
                    {
                      "word": "you ",
                      "start": 5.847083251953125,
                      "end": 5.952083251953125
                    },
                    {
                      "word": "today?",
                      "start": 5.952083251953125,
                      "end": 6.509083251953125
                    }
                  ],
                  "metadata": {
                    "response_id": 0
                  }
                },
                {
                  "role": "user",
                  "content": "I wanna book my appointment",
                  "words": [
                    {
                      "word": "I ",
                      "start": 9.751000000000001,
                      "end": 10.071
                    },
                    {
                      "word": "wanna ",
                      "start": 10.071,
                      "end": 10.311
                    },
                    {
                      "word": "book ",
                      "start": 10.311,
                      "end": 10.550999999999998
                    },
                    {
                      "word": "my ",
                      "start": 10.550999999999998,
                      "end": 10.791
                    },
                    {
                      "word": "appointment",
                      "start": 10.791,
                      "end": 11.030999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "name is David Warner.",
                  "words": [
                    {
                      "word": "name ",
                      "start": 11.811,
                      "end": 11.971
                    },
                    {
                      "word": "is ",
                      "start": 11.971,
                      "end": 12.050999999999998
                    },
                    {
                      "word": "David ",
                      "start": 12.050999999999998,
                      "end": 12.371001
                    },
                    {
                      "word": "Warner.",
                      "start": 12.371001,
                      "end": 12.690999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "And I wanna book my appointment on the third first December first December four PM.",
                  "words": [
                    {
                      "word": "And ",
                      "start": 12.940999999999999,
                      "end": 13.261
                    },
                    {
                      "word": "I ",
                      "start": 13.261,
                      "end": 13.501000999999999
                    },
                    {
                      "word": "wanna ",
                      "start": 13.501000999999999,
                      "end": 13.821000000000002
                    },
                    {
                      "word": "book ",
                      "start": 13.821000000000002,
                      "end": 14.141000000000002
                    },
                    {
                      "word": "my ",
                      "start": 14.141000000000002,
                      "end": 14.381
                    },
                    {
                      "word": "appointment ",
                      "start": 14.381,
                      "end": 14.861
                    },
                    {
                      "word": "on ",
                      "start": 14.861,
                      "end": 15.261
                    },
                    {
                      "word": "the ",
                      "start": 15.261,
                      "end": 15.581
                    },
                    {
                      "word": "third ",
                      "start": 15.581,
                      "end": 16.061
                    },
                    {
                      "word": "first ",
                      "start": 16.640999,
                      "end": 16.961
                    },
                    {
                      "word": "December ",
                      "start": 16.961,
                      "end": 17.440999
                    },
                    {
                      "word": "first ",
                      "start": 19.331,
                      "end": 19.811
                    },
                    {
                      "word": "December ",
                      "start": 19.811,
                      "end": 20.291
                    },
                    {
                      "word": "four ",
                      "start": 21.681,
                      "end": 22.081
                    },
                    {
                      "word": "PM.",
                      "start": 22.081,
                      "end": 22.320999999999998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you, David Warner. Just to confirm, your full name is David Warner, correct?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 23.478,
                      "end": 23.733
                    },
                    {
                      "word": "you, ",
                      "start": 23.733,
                      "end": 23.919
                    },
                    {
                      "word": "David ",
                      "start": 23.919,
                      "end": 24.221
                    },
                    {
                      "word": "Warner.",
                      "start": 24.221,
                      "end": 24.825
                    },
                    {
                      "word": " Just ",
                      "start": 24.870625,
                      "end": 25.091625
                    },
                    {
                      "word": "to ",
                      "start": 25.091625,
                      "end": 25.196625
                    },
                    {
                      "word": "confirm, ",
                      "start": 25.196625,
                      "end": 25.695625
                    },
                    {
                      "word": "your ",
                      "start": 25.695625,
                      "end": 25.846625
                    },
                    {
                      "word": "full ",
                      "start": 25.846625,
                      "end": 26.043625
                    },
                    {
                      "word": "name ",
                      "start": 26.043625,
                      "end": 26.217625
                    },
                    {
                      "word": "is ",
                      "start": 26.217625,
                      "end": 26.333625
                    },
                    {
                      "word": "David ",
                      "start": 26.333625,
                      "end": 26.635625
                    },
                    {
                      "word": "Warner, ",
                      "start": 26.635625,
                      "end": 27.007625
                    },
                    {
                      "word": "correct?",
                      "start": 27.007625,
                      "end": 27.657625
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 28.611,
                      "end": 28.931
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your name, David. May I please have your phone number to proceed with booking your appointment for December 1st at 4 PM?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 30.753,
                      "end": 30.973
                    },
                    {
                      "word": "you ",
                      "start": 30.973,
                      "end": 31.078
                    },
                    {
                      "word": "for ",
                      "start": 31.078,
                      "end": 31.206
                    },
                    {
                      "word": "confirming ",
                      "start": 31.206,
                      "end": 31.635
                    },
                    {
                      "word": "your ",
                      "start": 31.635,
                      "end": 31.786
                    },
                    {
                      "word": "name, ",
                      "start": 31.786,
                      "end": 32.03
                    },
                    {
                      "word": "David.",
                      "start": 32.03,
                      "end": 32.657
                    },
                    {
                      "word": " May ",
                      "start": 32.668916748046875,
                      "end": 32.86591674804688
                    },
                    {
                      "word": "I ",
                      "start": 32.86591674804688,
                      "end": 32.946916748046874
                    },
                    {
                      "word": "please ",
                      "start": 32.946916748046874,
                      "end": 33.202916748046874
                    },
                    {
                      "word": "have ",
                      "start": 33.202916748046874,
                      "end": 33.34191674804688
                    },
                    {
                      "word": "your ",
                      "start": 33.34191674804688,
                      "end": 33.46991674804688
                    },
                    {
                      "word": "phone ",
                      "start": 33.46991674804688,
                      "end": 33.631916748046876
                    },
                    {
                      "word": "number ",
                      "start": 33.631916748046876,
                      "end": 33.89891674804687
                    },
                    {
                      "word": "to ",
                      "start": 33.89891674804687,
                      "end": 33.991916748046876
                    },
                    {
                      "word": "proceed ",
                      "start": 33.991916748046876,
                      "end": 34.37491674804688
                    },
                    {
                      "word": "with ",
                      "start": 34.37491674804688,
                      "end": 34.56091674804688
                    },
                    {
                      "word": "booking ",
                      "start": 34.56091674804688,
                      "end": 34.90891674804688
                    },
                    {
                      "word": "your ",
                      "start": 34.90891674804688,
                      "end": 35.059916748046874
                    },
                    {
                      "word": "appointment ",
                      "start": 35.059916748046874,
                      "end": 35.58291674804688
                    },
                    {
                      "word": "for ",
                      "start": 35.58291674804688,
                      "end": 35.756916748046876
                    },
                    {
                      "word": "December ",
                      "start": 35.756916748046876,
                      "end": 36.13991674804687
                    },
                    {
                      "word": "1st ",
                      "start": 36.13991674804687,
                      "end": 36.51191674804687
                    },
                    {
                      "word": "at ",
                      "start": 36.51191674804687,
                      "end": 36.696916748046874
                    },
                    {
                      "word": "4 ",
                      "start": 36.696916748046874,
                      "end": 36.894916748046874
                    },
                    {
                      "word": "PM?",
                      "start": 36.894916748046874,
                      "end": 37.57991674804688
                    }
                  ],
                  "metadata": {
                    "response_id": 5
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. Zero three two three four one nine one. Double zero eight. And my email is f I b e r one eight nine zero at Gmail dot com.",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 40.070998,
                      "end": 40.550997
                    },
                    {
                      "word": "Zero ",
                      "start": 40.550997,
                      "end": 40.871
                    },
                    {
                      "word": "three ",
                      "start": 40.871,
                      "end": 41.031000000000006
                    },
                    {
                      "word": "two ",
                      "start": 41.031000000000006,
                      "end": 41.271
                    },
                    {
                      "word": "three ",
                      "start": 41.271,
                      "end": 41.431000000000004
                    },
                    {
                      "word": "four ",
                      "start": 41.431000000000004,
                      "end": 41.590998000000006
                    },
                    {
                      "word": "one ",
                      "start": 41.590998000000006,
                      "end": 41.750998
                    },
                    {
                      "word": "nine ",
                      "start": 41.750998,
                      "end": 41.910998
                    },
                    {
                      "word": "one. ",
                      "start": 41.910998,
                      "end": 42.070998
                    },
                    {
                      "word": "Double ",
                      "start": 42.371,
                      "end": 42.691
                    },
                    {
                      "word": "zero ",
                      "start": 42.691,
                      "end": 43.011
                    },
                    {
                      "word": "eight. ",
                      "start": 43.011,
                      "end": 43.331
                    },
                    {
                      "word": "And ",
                      "start": 43.331,
                      "end": 43.491
                    },
                    {
                      "word": "my ",
                      "start": 43.491,
                      "end": 43.651
                    },
                    {
                      "word": "email ",
                      "start": 43.651,
                      "end": 43.891000000000005
                    },
                    {
                      "word": "is ",
                      "start": 43.891000000000005,
                      "end": 44.051
                    },
                    {
                      "word": "f ",
                      "start": 44.051,
                      "end": 44.371
                    },
                    {
                      "word": "I ",
                      "start": 44.371,
                      "end": 44.531000000000006
                    },
                    {
                      "word": "b ",
                      "start": 44.531000000000006,
                      "end": 44.771002
                    },
                    {
                      "word": "e ",
                      "start": 44.771002,
                      "end": 44.931002
                    },
                    {
                      "word": "r ",
                      "start": 44.931002,
                      "end": 45.091
                    },
                    {
                      "word": "one ",
                      "start": 45.091,
                      "end": 45.251000000000005
                    },
                    {
                      "word": "eight ",
                      "start": 45.251000000000005,
                      "end": 45.411
                    },
                    {
                      "word": "nine ",
                      "start": 45.411,
                      "end": 45.571000000000005
                    },
                    {
                      "word": "zero ",
                      "start": 45.571000000000005,
                      "end": 45.731
                    },
                    {
                      "word": "at ",
                      "start": 45.731,
                      "end": 45.891000000000005
                    },
                    {
                      "word": "Gmail ",
                      "start": 45.891000000000005,
                      "end": 46.131
                    },
                    {
                      "word": "dot ",
                      "start": 46.131,
                      "end": 46.371
                    },
                    {
                      "word": "com.",
                      "start": 46.371,
                      "end": 46.531000000000006
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for providing your phone number. Let me read that back to make sure I got it: 032...341...91008. ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 47.919,
                      "end": 48.209
                    },
                    {
                      "word": "you ",
                      "start": 48.209,
                      "end": 48.348
                    },
                    {
                      "word": "for ",
                      "start": 48.348,
                      "end": 48.534
                    },
                    {
                      "word": "providing ",
                      "start": 48.534,
                      "end": 49.01
                    },
                    {
                      "word": "your ",
                      "start": 49.01,
                      "end": 49.149
                    },
                    {
                      "word": "phone ",
                      "start": 49.149,
                      "end": 49.358
                    },
                    {
                      "word": "number.",
                      "start": 49.358,
                      "end": 50.032
                    },
                    {
                      "word": " Let ",
                      "start": 50.07766674804687,
                      "end": 50.20566674804687
                    },
                    {
                      "word": "me ",
                      "start": 50.20566674804687,
                      "end": 50.31066674804688
                    },
                    {
                      "word": "read ",
                      "start": 50.31066674804688,
                      "end": 50.472666748046876
                    },
                    {
                      "word": "that ",
                      "start": 50.472666748046876,
                      "end": 50.646666748046876
                    },
                    {
                      "word": "back ",
                      "start": 50.646666748046876,
                      "end": 50.87966674804687
                    },
                    {
                      "word": "to ",
                      "start": 50.87966674804687,
                      "end": 50.98366674804687
                    },
                    {
                      "word": "make ",
                      "start": 50.98366674804687,
                      "end": 51.122666748046875
                    },
                    {
                      "word": "sure ",
                      "start": 51.122666748046875,
                      "end": 51.28566674804687
                    },
                    {
                      "word": "I ",
                      "start": 51.28566674804687,
                      "end": 51.366666748046875
                    },
                    {
                      "word": "got ",
                      "start": 51.366666748046875,
                      "end": 51.598666748046874
                    },
                    {
                      "word": "it: ",
                      "start": 51.598666748046874,
                      "end": 52.19066674804687
                    },
                    {
                      "word": "032...",
                      "start": 52.19066674804687,
                      "end": 52.655666748046876
                    },
                    {
                      "word": "341...",
                      "start": 53.56066674804688,
                      "end": 53.839666748046874
                    },
                    {
                      "word": "91008. ",
                      "start": 55.04675,
                      "end": 55.31375
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct. ",
                  "words": [
                    {
                      "word": "Correct. ",
                      "start": 55.471000000000004,
                      "end": 55.871
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Is that correct?",
                  "words": [
                    {
                      "word": "Is ",
                      "start": 56.57929174804688,
                      "end": 56.672291748046874
                    },
                    {
                      "word": "that ",
                      "start": 56.672291748046874,
                      "end": 56.83529174804688
                    },
                    {
                      "word": "correct?",
                      "start": 56.83529174804688,
                      "end": 57.36929174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 59.031000000000006,
                      "end": 59.271002
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your phone number. Now, for your email, could you please confirm it letter by letter? I have: f, i, b, e, r, 1, 8, 9, 0, @, g, m, a, i, l, ., c, ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 60.583,
                      "end": 60.838
                    },
                    {
                      "word": "you ",
                      "start": 60.838,
                      "end": 60.978
                    },
                    {
                      "word": "for ",
                      "start": 60.978,
                      "end": 61.14
                    },
                    {
                      "word": "confirming ",
                      "start": 61.14,
                      "end": 61.535
                    },
                    {
                      "word": "your ",
                      "start": 61.535,
                      "end": 61.651
                    },
                    {
                      "word": "phone ",
                      "start": 61.651,
                      "end": 61.86
                    },
                    {
                      "word": "number.",
                      "start": 61.86,
                      "end": 62.382
                    },
                    {
                      "word": " Now, ",
                      "start": 62.3945,
                      "end": 62.6035
                    },
                    {
                      "word": "for ",
                      "start": 62.6035,
                      "end": 62.7775
                    },
                    {
                      "word": "your ",
                      "start": 62.7775,
                      "end": 62.9515
                    },
                    {
                      "word": "email, ",
                      "start": 62.9515,
                      "end": 63.2885
                    },
                    {
                      "word": "could ",
                      "start": 63.2885,
                      "end": 63.4735
                    },
                    {
                      "word": "you ",
                      "start": 63.4735,
                      "end": 63.6015
                    },
                    {
                      "word": "please ",
                      "start": 63.6015,
                      "end": 63.9155
                    },
                    {
                      "word": "confirm ",
                      "start": 63.9155,
                      "end": 64.3095
                    },
                    {
                      "word": "it ",
                      "start": 64.3095,
                      "end": 64.4025
                    },
                    {
                      "word": "letter ",
                      "start": 64.4025,
                      "end": 64.6925
                    },
                    {
                      "word": "by ",
                      "start": 64.6925,
                      "end": 64.8785
                    },
                    {
                      "word": "letter?",
                      "start": 64.8785,
                      "end": 65.4935
                    },
                    {
                      "word": " I ",
                      "start": 65.529,
                      "end": 65.657
                    },
                    {
                      "word": "have: ",
                      "start": 65.657,
                      "end": 65.9
                    },
                    {
                      "word": "f, ",
                      "start": 65.9,
                      "end": 66.121
                    },
                    {
                      "word": "i, ",
                      "start": 66.121,
                      "end": 66.376
                    },
                    {
                      "word": "b, ",
                      "start": 66.376,
                      "end": 66.609
                    },
                    {
                      "word": "e, ",
                      "start": 66.609,
                      "end": 66.806
                    },
                    {
                      "word": "r, ",
                      "start": 66.806,
                      "end": 67.05
                    },
                    {
                      "word": "1, ",
                      "start": 67.05,
                      "end": 67.27
                    },
                    {
                      "word": "8, ",
                      "start": 67.27,
                      "end": 67.503
                    },
                    {
                      "word": "9, ",
                      "start": 67.503,
                      "end": 67.746
                    },
                    {
                      "word": "0, ",
                      "start": 67.746,
                      "end": 68.118
                    },
                    {
                      "word": "@, ",
                      "start": 68.118,
                      "end": 68.431
                    },
                    {
                      "word": "g, ",
                      "start": 68.431,
                      "end": 68.733
                    },
                    {
                      "word": "m, ",
                      "start": 68.733,
                      "end": 68.954
                    },
                    {
                      "word": "a, ",
                      "start": 68.954,
                      "end": 69.163
                    },
                    {
                      "word": "i, ",
                      "start": 69.163,
                      "end": 69.407
                    },
                    {
                      "word": "l, ",
                      "start": 69.407,
                      "end": 69.743
                    },
                    {
                      "word": "., ",
                      "start": 69.743,
                      "end": 70.022
                    },
                    {
                      "word": "c, ",
                      "start": 70.022,
                      "end": 70.196
                    }
                  ],
                  "metadata": {
                    "response_id": 9
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 70.25099999999999,
                      "end": 70.490996
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 71.271,
                      "end": 71.67099999999999
                    }
                  ]
                }
              ],
              "transcript_with_tool_calls": [
                {
                  "role": "agent",
                  "content": "Hello! Thank you for calling Lumina Dental Clinic. This is Pearl speaking. How can I assist you today?",
                  "words": [
                    {
                      "word": "Hello!",
                      "start": 1.006,
                      "end": 1.679
                    },
                    {
                      "word": " Thank ",
                      "start": 1.7255,
                      "end": 1.9465
                    },
                    {
                      "word": "you ",
                      "start": 1.9465,
                      "end": 2.0745
                    },
                    {
                      "word": "for ",
                      "start": 2.0745,
                      "end": 2.2485
                    },
                    {
                      "word": "calling ",
                      "start": 2.2485,
                      "end": 2.5735
                    },
                    {
                      "word": "Lumina ",
                      "start": 2.5735,
                      "end": 2.8865
                    },
                    {
                      "word": "Dental ",
                      "start": 2.8865,
                      "end": 3.1655
                    },
                    {
                      "word": "Clinic.",
                      "start": 3.1655,
                      "end": 3.7225
                    },
                    {
                      "word": " This ",
                      "start": 3.768875,
                      "end": 4.012875
                    },
                    {
                      "word": "is ",
                      "start": 4.012875,
                      "end": 4.152875
                    },
                    {
                      "word": "Pearl ",
                      "start": 4.152875,
                      "end": 4.453875
                    },
                    {
                      "word": "speaking.",
                      "start": 4.453875,
                      "end": 5.115875
                    },
                    {
                      "word": " How ",
                      "start": 5.162083251953125,
                      "end": 5.290083251953125
                    },
                    {
                      "word": "can ",
                      "start": 5.290083251953125,
                      "end": 5.441083251953125
                    },
                    {
                      "word": "I ",
                      "start": 5.441083251953125,
                      "end": 5.522083251953125
                    },
                    {
                      "word": "assist ",
                      "start": 5.522083251953125,
                      "end": 5.847083251953125
                    },
                    {
                      "word": "you ",
                      "start": 5.847083251953125,
                      "end": 5.952083251953125
                    },
                    {
                      "word": "today?",
                      "start": 5.952083251953125,
                      "end": 6.509083251953125
                    }
                  ],
                  "metadata": {
                    "response_id": 0
                  }
                },
                {
                  "role": "user",
                  "content": "I wanna book my appointment",
                  "words": [
                    {
                      "word": "I ",
                      "start": 9.751000000000001,
                      "end": 10.071
                    },
                    {
                      "word": "wanna ",
                      "start": 10.071,
                      "end": 10.311
                    },
                    {
                      "word": "book ",
                      "start": 10.311,
                      "end": 10.550999999999998
                    },
                    {
                      "word": "my ",
                      "start": 10.550999999999998,
                      "end": 10.791
                    },
                    {
                      "word": "appointment",
                      "start": 10.791,
                      "end": 11.030999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "name is David Warner.",
                  "words": [
                    {
                      "word": "name ",
                      "start": 11.811,
                      "end": 11.971
                    },
                    {
                      "word": "is ",
                      "start": 11.971,
                      "end": 12.050999999999998
                    },
                    {
                      "word": "David ",
                      "start": 12.050999999999998,
                      "end": 12.371001
                    },
                    {
                      "word": "Warner.",
                      "start": 12.371001,
                      "end": 12.690999999999999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "And I wanna book my appointment on the third first December first December four PM.",
                  "words": [
                    {
                      "word": "And ",
                      "start": 12.940999999999999,
                      "end": 13.261
                    },
                    {
                      "word": "I ",
                      "start": 13.261,
                      "end": 13.501000999999999
                    },
                    {
                      "word": "wanna ",
                      "start": 13.501000999999999,
                      "end": 13.821000000000002
                    },
                    {
                      "word": "book ",
                      "start": 13.821000000000002,
                      "end": 14.141000000000002
                    },
                    {
                      "word": "my ",
                      "start": 14.141000000000002,
                      "end": 14.381
                    },
                    {
                      "word": "appointment ",
                      "start": 14.381,
                      "end": 14.861
                    },
                    {
                      "word": "on ",
                      "start": 14.861,
                      "end": 15.261
                    },
                    {
                      "word": "the ",
                      "start": 15.261,
                      "end": 15.581
                    },
                    {
                      "word": "third ",
                      "start": 15.581,
                      "end": 16.061
                    },
                    {
                      "word": "first ",
                      "start": 16.640999,
                      "end": 16.961
                    },
                    {
                      "word": "December ",
                      "start": 16.961,
                      "end": 17.440999
                    },
                    {
                      "word": "first ",
                      "start": 19.331,
                      "end": 19.811
                    },
                    {
                      "word": "December ",
                      "start": 19.811,
                      "end": 20.291
                    },
                    {
                      "word": "four ",
                      "start": 21.681,
                      "end": 22.081
                    },
                    {
                      "word": "PM.",
                      "start": 22.081,
                      "end": 22.320999999999998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you, David Warner. Just to confirm, your full name is David Warner, correct?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 23.478,
                      "end": 23.733
                    },
                    {
                      "word": "you, ",
                      "start": 23.733,
                      "end": 23.919
                    },
                    {
                      "word": "David ",
                      "start": 23.919,
                      "end": 24.221
                    },
                    {
                      "word": "Warner.",
                      "start": 24.221,
                      "end": 24.825
                    },
                    {
                      "word": " Just ",
                      "start": 24.870625,
                      "end": 25.091625
                    },
                    {
                      "word": "to ",
                      "start": 25.091625,
                      "end": 25.196625
                    },
                    {
                      "word": "confirm, ",
                      "start": 25.196625,
                      "end": 25.695625
                    },
                    {
                      "word": "your ",
                      "start": 25.695625,
                      "end": 25.846625
                    },
                    {
                      "word": "full ",
                      "start": 25.846625,
                      "end": 26.043625
                    },
                    {
                      "word": "name ",
                      "start": 26.043625,
                      "end": 26.217625
                    },
                    {
                      "word": "is ",
                      "start": 26.217625,
                      "end": 26.333625
                    },
                    {
                      "word": "David ",
                      "start": 26.333625,
                      "end": 26.635625
                    },
                    {
                      "word": "Warner, ",
                      "start": 26.635625,
                      "end": 27.007625
                    },
                    {
                      "word": "correct?",
                      "start": 27.007625,
                      "end": 27.657625
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 28.611,
                      "end": 28.931
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your name, David. May I please have your phone number to proceed with booking your appointment for December 1st at 4 PM?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 30.753,
                      "end": 30.973
                    },
                    {
                      "word": "you ",
                      "start": 30.973,
                      "end": 31.078
                    },
                    {
                      "word": "for ",
                      "start": 31.078,
                      "end": 31.206
                    },
                    {
                      "word": "confirming ",
                      "start": 31.206,
                      "end": 31.635
                    },
                    {
                      "word": "your ",
                      "start": 31.635,
                      "end": 31.786
                    },
                    {
                      "word": "name, ",
                      "start": 31.786,
                      "end": 32.03
                    },
                    {
                      "word": "David.",
                      "start": 32.03,
                      "end": 32.657
                    },
                    {
                      "word": " May ",
                      "start": 32.668916748046875,
                      "end": 32.86591674804688
                    },
                    {
                      "word": "I ",
                      "start": 32.86591674804688,
                      "end": 32.946916748046874
                    },
                    {
                      "word": "please ",
                      "start": 32.946916748046874,
                      "end": 33.202916748046874
                    },
                    {
                      "word": "have ",
                      "start": 33.202916748046874,
                      "end": 33.34191674804688
                    },
                    {
                      "word": "your ",
                      "start": 33.34191674804688,
                      "end": 33.46991674804688
                    },
                    {
                      "word": "phone ",
                      "start": 33.46991674804688,
                      "end": 33.631916748046876
                    },
                    {
                      "word": "number ",
                      "start": 33.631916748046876,
                      "end": 33.89891674804687
                    },
                    {
                      "word": "to ",
                      "start": 33.89891674804687,
                      "end": 33.991916748046876
                    },
                    {
                      "word": "proceed ",
                      "start": 33.991916748046876,
                      "end": 34.37491674804688
                    },
                    {
                      "word": "with ",
                      "start": 34.37491674804688,
                      "end": 34.56091674804688
                    },
                    {
                      "word": "booking ",
                      "start": 34.56091674804688,
                      "end": 34.90891674804688
                    },
                    {
                      "word": "your ",
                      "start": 34.90891674804688,
                      "end": 35.059916748046874
                    },
                    {
                      "word": "appointment ",
                      "start": 35.059916748046874,
                      "end": 35.58291674804688
                    },
                    {
                      "word": "for ",
                      "start": 35.58291674804688,
                      "end": 35.756916748046876
                    },
                    {
                      "word": "December ",
                      "start": 35.756916748046876,
                      "end": 36.13991674804687
                    },
                    {
                      "word": "1st ",
                      "start": 36.13991674804687,
                      "end": 36.51191674804687
                    },
                    {
                      "word": "at ",
                      "start": 36.51191674804687,
                      "end": 36.696916748046874
                    },
                    {
                      "word": "4 ",
                      "start": 36.696916748046874,
                      "end": 36.894916748046874
                    },
                    {
                      "word": "PM?",
                      "start": 36.894916748046874,
                      "end": 37.57991674804688
                    }
                  ],
                  "metadata": {
                    "response_id": 5
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. Zero three two three four one nine one. Double zero eight. And my email is f I b e r one eight nine zero at Gmail dot com.",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 40.070998,
                      "end": 40.550997
                    },
                    {
                      "word": "Zero ",
                      "start": 40.550997,
                      "end": 40.871
                    },
                    {
                      "word": "three ",
                      "start": 40.871,
                      "end": 41.031000000000006
                    },
                    {
                      "word": "two ",
                      "start": 41.031000000000006,
                      "end": 41.271
                    },
                    {
                      "word": "three ",
                      "start": 41.271,
                      "end": 41.431000000000004
                    },
                    {
                      "word": "four ",
                      "start": 41.431000000000004,
                      "end": 41.590998000000006
                    },
                    {
                      "word": "one ",
                      "start": 41.590998000000006,
                      "end": 41.750998
                    },
                    {
                      "word": "nine ",
                      "start": 41.750998,
                      "end": 41.910998
                    },
                    {
                      "word": "one. ",
                      "start": 41.910998,
                      "end": 42.070998
                    },
                    {
                      "word": "Double ",
                      "start": 42.371,
                      "end": 42.691
                    },
                    {
                      "word": "zero ",
                      "start": 42.691,
                      "end": 43.011
                    },
                    {
                      "word": "eight. ",
                      "start": 43.011,
                      "end": 43.331
                    },
                    {
                      "word": "And ",
                      "start": 43.331,
                      "end": 43.491
                    },
                    {
                      "word": "my ",
                      "start": 43.491,
                      "end": 43.651
                    },
                    {
                      "word": "email ",
                      "start": 43.651,
                      "end": 43.891000000000005
                    },
                    {
                      "word": "is ",
                      "start": 43.891000000000005,
                      "end": 44.051
                    },
                    {
                      "word": "f ",
                      "start": 44.051,
                      "end": 44.371
                    },
                    {
                      "word": "I ",
                      "start": 44.371,
                      "end": 44.531000000000006
                    },
                    {
                      "word": "b ",
                      "start": 44.531000000000006,
                      "end": 44.771002
                    },
                    {
                      "word": "e ",
                      "start": 44.771002,
                      "end": 44.931002
                    },
                    {
                      "word": "r ",
                      "start": 44.931002,
                      "end": 45.091
                    },
                    {
                      "word": "one ",
                      "start": 45.091,
                      "end": 45.251000000000005
                    },
                    {
                      "word": "eight ",
                      "start": 45.251000000000005,
                      "end": 45.411
                    },
                    {
                      "word": "nine ",
                      "start": 45.411,
                      "end": 45.571000000000005
                    },
                    {
                      "word": "zero ",
                      "start": 45.571000000000005,
                      "end": 45.731
                    },
                    {
                      "word": "at ",
                      "start": 45.731,
                      "end": 45.891000000000005
                    },
                    {
                      "word": "Gmail ",
                      "start": 45.891000000000005,
                      "end": 46.131
                    },
                    {
                      "word": "dot ",
                      "start": 46.131,
                      "end": 46.371
                    },
                    {
                      "word": "com.",
                      "start": 46.371,
                      "end": 46.531000000000006
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for providing your phone number. Let me read that back to make sure I got it: 032...341...91008. ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 47.919,
                      "end": 48.209
                    },
                    {
                      "word": "you ",
                      "start": 48.209,
                      "end": 48.348
                    },
                    {
                      "word": "for ",
                      "start": 48.348,
                      "end": 48.534
                    },
                    {
                      "word": "providing ",
                      "start": 48.534,
                      "end": 49.01
                    },
                    {
                      "word": "your ",
                      "start": 49.01,
                      "end": 49.149
                    },
                    {
                      "word": "phone ",
                      "start": 49.149,
                      "end": 49.358
                    },
                    {
                      "word": "number.",
                      "start": 49.358,
                      "end": 50.032
                    },
                    {
                      "word": " Let ",
                      "start": 50.07766674804687,
                      "end": 50.20566674804687
                    },
                    {
                      "word": "me ",
                      "start": 50.20566674804687,
                      "end": 50.31066674804688
                    },
                    {
                      "word": "read ",
                      "start": 50.31066674804688,
                      "end": 50.472666748046876
                    },
                    {
                      "word": "that ",
                      "start": 50.472666748046876,
                      "end": 50.646666748046876
                    },
                    {
                      "word": "back ",
                      "start": 50.646666748046876,
                      "end": 50.87966674804687
                    },
                    {
                      "word": "to ",
                      "start": 50.87966674804687,
                      "end": 50.98366674804687
                    },
                    {
                      "word": "make ",
                      "start": 50.98366674804687,
                      "end": 51.122666748046875
                    },
                    {
                      "word": "sure ",
                      "start": 51.122666748046875,
                      "end": 51.28566674804687
                    },
                    {
                      "word": "I ",
                      "start": 51.28566674804687,
                      "end": 51.366666748046875
                    },
                    {
                      "word": "got ",
                      "start": 51.366666748046875,
                      "end": 51.598666748046874
                    },
                    {
                      "word": "it: ",
                      "start": 51.598666748046874,
                      "end": 52.19066674804687
                    },
                    {
                      "word": "032...",
                      "start": 52.19066674804687,
                      "end": 52.655666748046876
                    },
                    {
                      "word": "341...",
                      "start": 53.56066674804688,
                      "end": 53.839666748046874
                    },
                    {
                      "word": "91008. ",
                      "start": 55.04675,
                      "end": 55.31375
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct. ",
                  "words": [
                    {
                      "word": "Correct. ",
                      "start": 55.471000000000004,
                      "end": 55.871
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Is that correct?",
                  "words": [
                    {
                      "word": "Is ",
                      "start": 56.57929174804688,
                      "end": 56.672291748046874
                    },
                    {
                      "word": "that ",
                      "start": 56.672291748046874,
                      "end": 56.83529174804688
                    },
                    {
                      "word": "correct?",
                      "start": 56.83529174804688,
                      "end": 57.36929174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 8
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 59.031000000000006,
                      "end": 59.271002
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for confirming your phone number. Now, for your email, could you please confirm it letter by letter? I have: f, i, b, e, r, 1, 8, 9, 0, @, g, m, a, i, l, ., c, ",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 60.583,
                      "end": 60.838
                    },
                    {
                      "word": "you ",
                      "start": 60.838,
                      "end": 60.978
                    },
                    {
                      "word": "for ",
                      "start": 60.978,
                      "end": 61.14
                    },
                    {
                      "word": "confirming ",
                      "start": 61.14,
                      "end": 61.535
                    },
                    {
                      "word": "your ",
                      "start": 61.535,
                      "end": 61.651
                    },
                    {
                      "word": "phone ",
                      "start": 61.651,
                      "end": 61.86
                    },
                    {
                      "word": "number.",
                      "start": 61.86,
                      "end": 62.382
                    },
                    {
                      "word": " Now, ",
                      "start": 62.3945,
                      "end": 62.6035
                    },
                    {
                      "word": "for ",
                      "start": 62.6035,
                      "end": 62.7775
                    },
                    {
                      "word": "your ",
                      "start": 62.7775,
                      "end": 62.9515
                    },
                    {
                      "word": "email, ",
                      "start": 62.9515,
                      "end": 63.2885
                    },
                    {
                      "word": "could ",
                      "start": 63.2885,
                      "end": 63.4735
                    },
                    {
                      "word": "you ",
                      "start": 63.4735,
                      "end": 63.6015
                    },
                    {
                      "word": "please ",
                      "start": 63.6015,
                      "end": 63.9155
                    },
                    {
                      "word": "confirm ",
                      "start": 63.9155,
                      "end": 64.3095
                    },
                    {
                      "word": "it ",
                      "start": 64.3095,
                      "end": 64.4025
                    },
                    {
                      "word": "letter ",
                      "start": 64.4025,
                      "end": 64.6925
                    },
                    {
                      "word": "by ",
                      "start": 64.6925,
                      "end": 64.8785
                    },
                    {
                      "word": "letter?",
                      "start": 64.8785,
                      "end": 65.4935
                    },
                    {
                      "word": " I ",
                      "start": 65.529,
                      "end": 65.657
                    },
                    {
                      "word": "have: ",
                      "start": 65.657,
                      "end": 65.9
                    },
                    {
                      "word": "f, ",
                      "start": 65.9,
                      "end": 66.121
                    },
                    {
                      "word": "i, ",
                      "start": 66.121,
                      "end": 66.376
                    },
                    {
                      "word": "b, ",
                      "start": 66.376,
                      "end": 66.609
                    },
                    {
                      "word": "e, ",
                      "start": 66.609,
                      "end": 66.806
                    },
                    {
                      "word": "r, ",
                      "start": 66.806,
                      "end": 67.05
                    },
                    {
                      "word": "1, ",
                      "start": 67.05,
                      "end": 67.27
                    },
                    {
                      "word": "8, ",
                      "start": 67.27,
                      "end": 67.503
                    },
                    {
                      "word": "9, ",
                      "start": 67.503,
                      "end": 67.746
                    },
                    {
                      "word": "0, ",
                      "start": 67.746,
                      "end": 68.118
                    },
                    {
                      "word": "@, ",
                      "start": 68.118,
                      "end": 68.431
                    },
                    {
                      "word": "g, ",
                      "start": 68.431,
                      "end": 68.733
                    },
                    {
                      "word": "m, ",
                      "start": 68.733,
                      "end": 68.954
                    },
                    {
                      "word": "a, ",
                      "start": 68.954,
                      "end": 69.163
                    },
                    {
                      "word": "i, ",
                      "start": 69.163,
                      "end": 69.407
                    },
                    {
                      "word": "l, ",
                      "start": 69.407,
                      "end": 69.743
                    },
                    {
                      "word": "., ",
                      "start": 69.743,
                      "end": 70.022
                    },
                    {
                      "word": "c, ",
                      "start": 70.022,
                      "end": 70.196
                    }
                  ],
                  "metadata": {
                    "response_id": 9
                  }
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 70.25099999999999,
                      "end": 70.490996
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 71.271,
                      "end": 71.67099999999999
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "58885999fec2220f",
                  "name": "calender",
                  "arguments": "{\"phone\":\"03234191008\",\"reschedule_time\":null,\"timezone\":\"Asia/Karachi\",\"name\":\"David Warner\",\"action\":\"book\",\"booking_time\":\"2025-12-01T16:00:00+05:00\",\"email\":\"fiber1890@gmail.com\",\"availability_time\":null}",
                  "time_sec": 73.437,
                  "type": "custom"
                }
              ],
              "latency": {},
              "call_cost": {
                "product_costs": [],
                "total_duration_unit_price": 0,
                "total_duration_seconds": 0,
                "combined_cost": 0
              },
              "data_storage_setting": "everything",
              "opt_in_signed_url": false,
              "access_token": "eyJhbGciOiJIUzI1NiJ9.eyJ2aWRlbyI6eyJyb29tSm9pbiI6dHJ1ZSwicm9vbSI6IndlYl9jYWxsXzUyZWJiMTU5MTY3ZDcyMDkyYWU2MWI0NDllYiJ9LCJpc3MiOiJBUElqWGZBMzVHTmM3WHgiLCJleHAiOjE3NjQzNTAzMzcsIm5iZiI6MCwic3ViIjoiY2xpZW50In0.5fiD60EdQMwrNAC_5CJmggg9954x8x16__QI5ZGyoA4"
            },
            "name": "calender",
            "args": {
              "phone": "03234191008",
              "reschedule_time": null,
              "timezone": "Asia/Karachi",
              "name": "David Warner",
              "action": "book",
              "booking_time": "2025-12-01T16:00:00+05:00",
              "email": "fiber1890@gmail.com",
              "availability_time": null
            }
          },
          "webhookUrl": "https://my-automations.online/webhook/b0399368-6d2f-43fb-962d-165e0bdb754f",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Book Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "388d584e-76a8-4d2b-b2ec-c9babfab218a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078a96f19bcb68c0c02231df326b57e32ec696b6347800c8373a3446e3684b85"
  },
  "id": "eluObvF2mwziKyeO",
  "tags": [
    {
      "updatedAt": "2025-11-28T16:28:52.645Z",
      "createdAt": "2025-11-28T16:28:52.645Z",
      "id": "1FFruB9KIujZCuFj",
      "name": "Appointment"
    }
  ]
}